<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Foobar", root_path, class: "brand" %> 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse"> <!-- Part of bootstrap -->
        <!-- .nav, .navbar-search, .navbar-form, etc -->
				<ul class="nav">
					<li><%= link_to "Home", root_path %></li>
				</ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %> <!-- We want to show the edit profile for logged in users -->
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
						<!-- Logout link -->
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
          <% else %> <!-- Not signed in -- Let's ask the user to sign in -->
  					<li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
					<!-- About foobar -->
					<li><%= link_to "About", about_path %></li>
				</ul>
      </div>
 
    </div>
  </div>
</div>
